.env
.idea
.DS_Store
\#*\#
.\#\#
\.\#\#
\.\#*
.\#*
teamSchedule.csv
.\#df.py
.\#dfScheduleGame.py
*.log
*.py~
.\#collectStaticData.py
.\#collectPlayerData.py
.\#cleanBettingOdds.py
.\#functions.py
.\#FinalScraper.py
.\#getElo.py
.\#recentTeamPerformance.py
.\#addStaticFeatures.py
.\#cleanBettingOdds.py
.\#teamPerformance,py
